__pycache__/
*.pkl
*.json
mlruns/
confusion_matrix.png

# Dataset grandes
data/iris_dataset.csv
data/telco_churn.csv

# Artefactos Telco XAI:
artifacts_telco/telco_background.csv
artifacts_telco/*
!artifacts_telco/*.json
!artifacts_telco/*.npy
!artifacts_telco/.gitkeep

things_to_add.md